a {
    text-decoration: none;
}

body {
    padding: 0px;
    margin: 0px;
}

body h1,
h2,
p {
    margin: 2% 0% 2% 7%;
}

.topnav {
    background-color: #5c913b;
    overflow: hidden;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
}

.topnav p {
    float: left;
    color: white;
    font-size: 17px;
    margin: 2% 0% 2% 2%;
}

.topnav p:hover {
    opacity: 0.8;
    border-radius: 25px;
}

.topnav p.active {
    text-decoration: underline;
}

.logo {
    float: left;
    margin: 1% 0% 1% 2%;
    width: 6em;
}

.footer {
    bottom: 0;
    left: 0;
    width: 100%;
}

footer {
    background-image: url(imagem/footer.png);
    background-color: white;
    background-repeat: repeat-x;
    background-position: bottom;
    text-align: justify;
    height: 30%;
}

footer a {
    text-decoration: underline;
    color: black;
}

footer p {
    margin: 1% 0% 5% 5%;
}

.ajuda {
    font-size: 25;
    float: left;
    margin: 1% 0% 1% 5%;
    text-decoration: underline;
}

.dica {
    font-size: 25;
    float: left;
    margin: 1% 0% 1% 5%;
    text-decoration: underline;
}

.fa-github {
    font-size: 40;
    margin: 1% 0% 1% 50%;
    text-decoration: none;
}

.fa-instagram {
    font-size: 40;
    margin: 1% 0% 1% 2%;
    text-decoration: none;
}

footer a:hover {
    opacity: 0.8;
}