a {
    text-decoration: none;
}

body {
    padding: 0px;
    margin: 0px;
}

hr {
    background-color: grey;
}

.topnav {
    background-color: #5c913b;
    overflow: hidden;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
}

.logo {
    float: left;
    margin: 1% 2% 1% 2%;
    width: 6em;
}

.topnav div.active {
    background-color: white;
    color: #5c913b;
}

.active,
.link {
    float: left;
    color: white;
    font-size: 17px;
    padding: 2% 2% 2% 2%;
}

.active:hover,
.link:hover {
    background-color: white;
    color: #5c913b;
    opacity: 0.8;
}

button {
    border: none;
    border-radius: 5px;
    background-color: #FFBD59;
    cursor: pointer;
    color: white;
}

button:hover {
    opacity: 0.8;
}

.footer {
    bottom: 0;
    left: 0;
    width: 100%;
}

footer {
    background-image: url(imagem/footer.png);
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 30em;
    background-color: white;
    text-align: justify;
    height: 25%;
    opacity: 0.8;
}

footer a {
    text-decoration: underline;
    color: black;
}

footer p {
    margin: 0% 0% 5% 5%;
}

.ajuda {
    font-size: 25;
    float: left;
    margin: 0% 0% 1% 5%;
    text-decoration: underline;
}

.dica {
    font-size: 25;
    float: left;
    margin: 0% 0% 1% 5%;
    text-decoration: underline;
}

.fa-github {
    font-size: 40;
    margin: 0% 0% 1% 40%;
    text-decoration: none;
}

.fa-instagram {
    font-size: 40;
    margin: 0% 0% 1% 2%;
    text-decoration: none;
}

.fa-shopping-cart {
    position: absolute;
    right: 10%;
    float: left;
    color: white;
    font-size: 20px;
    padding: 2% 2% 2% 2%;
}

.fa-shopping-cart:hover {
    background-color: white;
    color: #5c913b;
    opacity: 0.8;
}

.fa-sign-out {
    position: absolute;
    float: left;
    color: white;
    font-size: 20px;
    padding: 2% 2% 2% 2%;
}

.fa-sign-out:hover {
    background-color: white;
    color: #5c913b;
    opacity: 0.8;
}

footer a:hover {
    opacity: 0.8;
}


/* erro login */

.fa-exclamation-triangle {
    color: red;
    font-size: 20;
}